h5.card-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

div.card-body {
  background-color: #fff0ee;
  padding: 1rem 1.5rem;
}

.btn.btn-primary {
  background-color: #b10849;
  border: #b10849;
}
